body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header h1{
  font-size: 45px;
}
#new-task{
  padding: 3px ;
}
#new-task::placeholder{
  font-size: 16px;
}
#add-task-btn{
  background-color: #F44336;
  color: white;

  border:0;
  border-radius: 5px;
  
  padding: 5px 10px;
}