body,
main,
#show-tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main {
  width: 100%;
}
header h1 {
  font-size: 55px;
}
#new-task {
  padding: 7px 16px;
  border-radius: 4px;
  border-width: 1.5px;
}
#new-task::placeholder {
  font-size: 20px;
}
#search-task{
  margin-top: 20px;
  width: 20%;
}
#search-task-by{
  padding: 7px 16px;

  width: 100%;
  min-height: 30px;

  border-radius: 4px;
  border-width: 1.5px;

  font-size: 20px;
}
button ,#add-task-btn{
  background-color: #f44336;
  color: white;

  border: 0;
  border-radius: 5px;

  padding: 8px 12px;
  font-size: 14px;
}

#done-btn {
  background-color: rgb(38, 180, 38);
}
#edit-btn {
  background-color: #4088db;
}
#add-task-btn:hover,button:hover {
  cursor: pointer;
}
#show-tasks {
  width: 100%;
}
#show-tasks table{
  width: 80%;

}
#show-tasks table {
  margin-top: 20px;
  border-spacing: 0;
}
#show-tasks thead {
  background-color:#F2F2F2;
}
#show-tasks td {
  border-bottom: 1px solid rgb(202, 199, 199);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
#show-tasks thead td {
  font-size: 30px;
  font-weight: bold;
}
#id {
  width: 10%;
}
#description {
  width: 65%;
}
#status {
  width: 10%;
}
#actions {
  width: 15%;
}
#show-tasks  td {
  height: 45px;
}