html,
body {
  height: 100%;
}

#first-main,header,
#show-tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body ,main{
  display: flex;
  margin: 0;
  background-color: #e5e5e5;
}
div {
  height: 90%;
  width: 33%;
}


#b {
  background-color: #ffe994;
  position: relative;
  height: 100%;
  width: 100%;

  border-radius: 4px;
  overflow: hidden;
}
#c {
  background-color: #ffe994;
  position: relative;
  height: 100%;
  width: 100%;

  border-radius: 4px;
}
#outerb,
#outerc {
  margin: 10px;
}
.todos-title {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background-color: #ffd966;
  border-radius: 4px;
}
#outerc .todos-title{
  background-color: #ff8049;
}
span {
  font-size: 14px;
}
#c {
  background-color: #fcd19c;
}
.inner {
  background-color: #ffd966;
  height: 150px;
  width: 150px;
  
  /* box-shadow: -62px 62px 0 -58px   #ffe994,0 0 3px grey; */
  box-shadow:0 0 3px rgb(171, 167, 167);

  position: absolute;
  left: 2;
  top: 2;
}
#outerc .inner{
  background-color: #ff8049;
}


#dialog{
  border-width:1px;
  border-radius: 10px;
}
#dialog >div {
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
#dialog div div {
    display: flex;
}
#first-main {
  width: 100%;
}
h1 {
  font-size: 50px;
}
#new-task {
  padding: 7px 16px;
  border-radius: 4px;
  border-width: 1.5px;
}
#new-task::placeholder {
  font-size: 10px;
}
#search-task{
  margin-top: 20px;
  width: 90%;
}
#search-task-by::placeholder{
  font-size: 14px;
}
#search-task-by{
  padding: 7px 16px;

  width: 100%;
  min-height: 20px;

  border-radius: 4px;
  border-width: 1.5px;

  font-size: 20px;
  box-sizing: border-box;
}
button ,input[type="button"]{
  color: white;

  border: 0;
  border-radius: 8px;
  width: 50px;
  margin:1px;
  padding: 10px 6px;
  font-size: 12px;
  box-sizing: border-box;
}

#done-btn {
  background-color: rgb(38, 180, 38);
}
#edit-btn {
  background-color: #4088db;
}
#delete-btn,#add-task-btn,.cancel-task-btn,#Ok-delete-task-btn{
  background-color: #f44336;
}
#cancel-delete-task-btn{
  background-color: #4088db;

}
.save-task-btn{
  background-color: rgb(38, 180, 38);
}
#add-task-btn:hover,button:hover ,input[type="button"]:hover{
  cursor: pointer;
}
#show-tasks {
  width: 100%;
}
#show-tasks table{
  width: 90%;
 overflow-y:scroll;
   height:500px;
   display:block;
}
#show-tasks table {
  margin-top: 20px;
  border-spacing: 0;
}
#show-tasks thead {
  background-color:#F2F2F2;
}
#show-tasks td {
  border-bottom: 1px solid rgb(202, 199, 199);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
#show-tasks thead td {
  font-size: 18px;
  font-weight: bold;
}
#id {
  width: 10%;
}
#description {
  width: 65%;
}
#status {
  width: 10%;
}
#actions {
  width: 15%;
}
#show-tasks  td {
  height: 45px;
}